@import url("./colors.css");

:root {
  font-family: "Roboto Mono", "Roboto Mono", "Vazirmatn", monospace;
  --header-height: 3em;
  --body-width: 60em;
  --vertical-gap: 3.5em;
}
/* DEBUG * /
* {
  outline: 1px dashed green;
}

html {
  background-color: black;
}
/**/

* {
  color: var(--main-color)
}

p {
  font-size: 1.2em;
  margin-block: 0.1em; 
}

div.padding {
  padding-left: 2em;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg-color);
}

div#body {
  margin-block: 0;
  margin-inline: auto;

  padding: 0;

  max-width: var(--body-width);
  min-height: 100%;

  display: flex;
  flex-direction: column;
  
  background-color: var(--body-bg-color);
}

div#app {
  margin-block: 2em;
  margin-inline: 2em;

  flex: 1;
  display: flex;
  flex-direction: column;
}

div#notificationBox {
  position: absolute;
  z-index: 30;
  top: 2em;
  right: 3em;
}

input[type=text] {
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 0.4em;
}

textarea {
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 0.4em;
  flex: 1;
  overflow: scroll;
}

img#logo {
  height: var(--header-height)
}

input[type=button], input[type=submit] {
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 0.4em;
  color: var(--main-color)
}