@import url("./colors.css");

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  font-family: "JetBrains Mono", monospace;
  --header-height: 3em;
  --body-width: 60em;
  --vertical-gap: 3.5em;
}
/* DEBUG * /
* {
  outline: 1px dashed green;
}

html {
  background-color: black;
}
/**/

* {
  color: var(--main-color)
}

p {
  font-size: 1.2em;
  margin-block: 0.1em; 
}

div.padding {
  padding-left: 2em;
}


body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg-color);
}

div#body {
  margin-block: 0;
  margin-inline: auto;

  padding: 0;

  max-width: 100%;
  min-height: 100%;

  display: flex;
  flex-direction: column;
  
  background-color: var(--body-bg-color);
}

div#app {
  
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url(../imgs/CGSG-Logo-gray.png);
  background-size: 10em;
}

div#notificationBox {
  position: absolute;
  z-index: 30;
  top: 2em;
  right: 3em;
}

input[type=text] {
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 0.4em;
}

textarea {
  background-color: transparent;
  border: 1px solid var(--main-color);
  border-radius: 0.4em;
  flex: 1;
  overflow: scroll;
}

img#logo {
  height: var(--header-height)
}

input[type=button], input[type=submit] {
  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 0.4em;
  color: var(--main-color)
}

.board {
  background-color: var(--bg-color);
  border-radius: 1em;
  box-shadow: 0 0.25em 1em var(--shadow-color);
}

.shadow {
  background-color: #00000033;
}

.headerButton {
  background-color: var(--light-shadow-color);
  flex: 1;
  margin-block: 0.3em;
  margin-inline: 0.15em;
  border-radius: 0.7em;

  display: flex;
  align-items: center;
  justify-content: center;
}

hr {
  border: none;
  border-top: 0.3em double var(--main-color);
  color: var(--main-color);
}