<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bin/css/style.css"/>
    <script src="../bin/scripts/login.js"></script>
    <title>{.Title}</title>
  </head>
  <body>
    <app>
      <header>
        <a href="https://{.Domain}/">
          <img id="logo" src="../bin/imgs/logo.svg"/>
        </a>
        <h1>{.Title}</h1>
        <input type="button" id="login-button" onclick="onLoginCallBack()" value="Login"/>
      </header>
      <main>
        {.Body}
      </main>
      <footer> 
        <!-- Just something looking cool -->
        <div>CGSG</div>
        <div>Copyright 2024 AE4</div>
      </footer>
    </app>
  </body>
</html>
